<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.8.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2017.11.2.204" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2017.11.2.204" targetFramework="net472" />
  <package id="sautinsoft.document" version="5.3.6.22" targetFramework="net472" />
</packages>